
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="productos">
        <div>
            <img src="~/Content/img/soda.png" id="soda" />
            <h3>$1.50</h3>
            <button>Order</button>
        </div>
        <div>
            <img src="~/Content/img/papas.png" id="papas" />
            <h3>$0.50</h3>
            <button>Order</button>
        </div>
        <div>
            <img src="~/Content/img/cafe.png" id="cafe" />
            <h3>$0.50</h3>
            <button>Order</button>
        </div>
    </div>
    
    <div id="total">
        <h4>Your Order</h4>
        <p></p>
        <h3>---------------------------------------</h3>
        <p>Total</p>

    </div>
</div>
<div id="listado">
    <div id="pedidos">
        <h3>Dispatched<br />Products</h3>
        
        <p>Product   $0.50</p>
    </div>
    <div id="preparacion">
        <h3>Preparing</h3>
        <h3></h3>
        <h3>-----------------------------------------</h3>
        <h3 id="finish">Finished</h3>
        <img src="~/Content/img/papas.png" id="papas" />
    </div>
</div>


