
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <div id="productos">
        <div>
            <img src="~/Content/img/soda.png" id="soda" />
            <h3>$1.50</h3>
            <input type="button" id="sodaB" onclick="agregarSoda()" value="Order" />
        </div>
        <div>
            <img src="~/Content/img/papas.png" id="papas" />
            <h3>$0.50</h3>
            <input type="button" id="papasB" onclick="agregarPapas()" value="Order" />
        </div>
        <div>
            <img src="~/Content/img/cafe.png" id="cafe" />
            <h3>$0.75</h3>
            <input type="button" id="cafeB" onclick="agregarCafe()" value="Order" />
        </div>
    </div>

    <div id="total">
        <h4>Your Order</h4>
        <div id="orden"></div>
        <hr />
        <p id="pagar"></p>

    </div>
</div>
<div id="listado">
    <div id="pedidos">
        <h3>Dispatched<br />Products</h3>
        <hr />
        <div id="ordenados" class="center-block"></div>
    </div>
    <div id="preparacion">
        <h3>Preparing</h3>
        <h3 id="segs" class="ocultar"></h3>
        <h3 id="secsleft" class="ocultar">Secs Left</h3>
        <hr />
        <h3 id="terminado" class="mostrar">Finished</h3>
        <img src="~/Content/img/cargar.gif" class="ocultarimg" id="cargar" />
        <img src="~/Content/img/soda.png" class="ocultarimg" id="sodafin" />
        <img src="~/Content/img/papas.png" class="ocultarimg" id="papasfin" />
        <img src="~/Content/img/cafe.png" class="ocultarimg" id="cafefin" />
    </div>
</div>
