body {
    background-color: lightskyblue;
}

#soda, #papas {
    width: 150px;
    height: 220px;
}

#cafe {
    width: 220px;
    height: 200px;
    margin-bottom: 15px;
}
#productos{
    width: 70%;
    padding-top: 2%;
    padding-left: 15%;
    display: block;
}
#productos div {
    float: left;
    text-align: center;
    margin-right: 10%;
    padding-bottom: 20px;
}
#productos div h3 {
    font-weight:bold;
}
#sodaB, #papasB, #cafeB{
    color: white;
    background-color: limegreen;
    border: none;
    padding: 3px;
    border-radius: 3px 4px;
    width: 70px;
} 
#total{
    width: 20%;
    border:solid;
    float:left;
    text-align: center;
    margin-left: 7%;
    
}
#listado {
    /*border: solid;*/
    margin-top: 22%;
    padding-left: 5%;
    
}
#pedidos{
    margin-left: 5%;
    border: solid;
    width: 20%;
    text-align: center;
}
#listado p, #total p {
    color: white;
}

#listado #preparacion {
    width: 30%;
    /*border: solid;*/
    text-align: center;
    margin-left: 40%;
}
#listado div {
    float:left;
}
.ocultar{
    display: none;
}
.mostrar{
    display: block;
    color: white;
}
#preparacion img{
    padding: 0;
    margin:0;
    width: 180px;
    height: 200px;
}
#orden p{
    margin-bottom:0;
}
#ordenados {
    position: relative;
    left: 23%;
    margin-bottom: 20px;
}
#ordenados p{
    margin-bottom: 0;
}

hr{
    width: 50%;
    border-color: black;
}

.mostraimg{
    display: block;
}
.ocultarimg {
    display: none;
}

p{
    font-size: 15px;
}
